:root {
  --green: #7dbe2f;
  --white: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1284px;
  margin: 0 auto;
  padding: 0 16px;
}
body {
  font-family: "Poppins";
}
a {
  text-decoration: none;
  display: inline-block;
}
img {
  display: block;
}
li {
  list-style: none;
}

/* Logo-- */

.logo-slider {
  background: linear-gradient(89.88deg, #7dbe2f 10.8%, #5aa216 98.32%);
  padding: 46px 0;
}

/* Business-- */

.business {
  background: linear-gradient(
    180deg,
    rgba(125, 190, 47, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  padding: 102px 0;
}
.business-title h2 {
  font-size: 95px;
  font-weight: 500;
  line-height: 100px;
  letter-spacing: -2px;
  text-align: center;
  padding-bottom: 19px;
}
.business-title span {
  background: linear-gradient(89.74deg, #7dbe2f 30.43%, #5aa216 70.78%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: block;
}
.business-title p {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #000000;
  padding-bottom: 66px;
  max-width: 1096px;
  margin: auto;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.btn-primary {
  background: linear-gradient(265.28deg, #7dbe2f -9.87%, #5aa216 99.46%);
  color: var(--white);
  border-radius: 10px;
  padding: 17px 34px;
}
.btn-success {
  border: 1px solid #7dbe2f;
  padding: 14px 34px;
  border-radius: 10px;
  color: #000000;
}
